$orange: #ffc71b;
$font: 'Muli', sans-serif;

body {
    text-align: center;
    font-family: $font;
    background-color: rgb(223, 223, 223);
}
.container {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
}
h1 {
    font-size: 40px;
    background-color: $orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 0px;

}
.faces:hover i {
    opacity: .5;
}
i {
    margin: 5px 5px;
    color: $orange;
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
    padding: 0px 5px 20px 5px;
}
.faces:hover i:hover {
    opacity: 1;
}
#slider {
    -webkit-appearance: none;
    width: 350px;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: .3s;
}
#slider:hover {
    opacity: 1;
  }
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: $orange;
    cursor: pointer;
  }
  
#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $orange;
    cursor: pointer;
  }
input {
    border-radius: 0px;
    border: none;
    height: 28px;
    width: 100px;
    font-size: 18px;
    padding-left: 5px;
}
Button {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius:10px;
    border: none;
	cursor:pointer;
	font-size:19px;
    padding:10px 16px;
    opacity: .7;
    transition: .3s;
    background-color: $orange;
    color: white;
    margin-bottom: 5px;
}
Button:hover {
    opacity: 1;
    background-color: white;
	color:$orange;
}
Button:active {
	position:relative;
	top:1px;
}
#final {
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
}
#container2 {
    background-color: rgb(226, 226, 226);
    padding-bottom: 30px;
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}